<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friday</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style">
</head>

<body id="hide">
    <div class="container">
        <div class="auth-container">
            <h1 class="text-center mb-4" id="Message">Welcome to Friday's Dashboard!</h1>

            <!-- Alert Messages -->
            <div id="messages"></div>

                <!-- Upper Right Button -->
                <!-- Login Button -->
                <form id="Login" action="login">
                    <div class="d-flex justify-content-end p-3">
                        <button type="submit" id = "login_button" class="btn btn-primary position-fixed top-0 end-0 m-3">Login</button>
                    </div>
                </form>

                <!-- Upper Left Button -->
                <!-- Login Button -->
                <form id="Login" action="https://lucashasting.github.io/Friday/">
                    <div class="d-flex justify-content-end p-3">
                        <button type="submit" class="btn btn-primary position-fixed top-0 start-0 m-3">Docs</button>
                    </div>
                </form>
            </div>
        </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dash"></script>
</body>

</html>